﻿@font-face {
    font-family: 'Montserrat', sans-serif;
}


body {
    background-color: rgb(179,222,79);
}

.block1{
    background-image:url(../img/background1.png);
    height:980px;
}

header{
    padding-top:10px;
}

    header a {
        font-size: 24px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        margin-left: 35px;
        transition-duration: 0.4s;
    }

    header a:hover {
        text-decoration: none;
        color: rgb(179,222,79);
        transition-duration:0.4s;
    }

#logo {
    height:70px;
    margin-right:65px;
}

.current-page {
    border-bottom:5px solid rgb(179,222,79);
    height:55px;
}

.hb{
    padding-top:10px;
}

.title{
    margin-top:200px;
    text-align:center;
}

h1 {
    font-size: 60px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight:bold;
}

.title-text {
    font-size: 24px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom:110px;
}

.but {
    font-size: 24px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 5px 30px;
    border-width: 1px;
    border-color: rgb(73, 74, 74);
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(152, 192, 60);
    transition-duration: 0.6s;
}

    .but:hover {
        text-decoration: none;
        color: rgb(152, 192, 60);
        background-color: rgb(255, 255, 255);
        transition-duration: 0.6s;
    } 

.block1 a, header a, .block2 a, .mid-block a, .title-text, h1, .no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}




h2 {
    font-size: 48px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.m {
    margin-bottom: 60px;
}


.mid-block .col-md-1{
    text-align:center;
}

.slide{
    width:50%;
    text-align:center;
    display:none;
    transition-duration:1s;
    /*position:relative;
    right:100px;*/
}

    .slide:hover{
        text-decoration:none;
    }

.slide-active-l, .slide-active-r, .slide-active{
    display:block !important;
}

.slide-active-l {
    float: left;
    animation: slide-in;
    animation-duration: 0.6s;
}

.slide-active-r {
    float: right;
    animation: slide-in;
    animation-duration: 0.6s;
}

.slide-button-img {
    width: 50%;
}

.slide-img{
    width:80%;
}

.slide-button-wrap{
    padding-top: 100px;
}

.slide-caption {
    padding-top: 30px;
    font-size: 24px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
}


.w3-animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.w3-animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.w3-animate-top {
    position: relative;
    animation: animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s
}
.w3-animate-left2 {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

.w3-animate-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.w3-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.w3-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.w3-animate-input {
    transition: width 0.4s ease-in-out
}

    .w3-animate-input:focus {
        width: 100% !important
    }

.block2 {
    background-image: url(../img/background2.png);
    height: 1092px;
    padding-top:205px;
    text-align:center;
}

.block2 ul{
    list-style:none;
}

    .block2 li {
        font-size: 36px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
    }

.h{
    padding:35px 60px;
}

.mid-block ul {
    list-style: none;
    text-align: center;
    font-size: 36px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-bottom:100px;
}

footer{
    background-image:url(../img/backgroundf.png);
    padding-top: 20px;
    background-size:cover;
}

    footer a, .address, h5, h6 {
        font-size: 20px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
        transition-duration: 0.4s;
    }

    #footer-l{
        text-align:left;
    }

    #footer-r{
        text-align:right;
    }

    h5{
        font-size:24px !important;
    }

footer a:hover {
    text-decoration: none;
    color: rgb(152, 192, 60);
    transition-duration: 0.4s;
}

.address{
    margin-bottom:8px;
}

footer .no-select{
    margin-bottom:30px;
}

.footer-green {
    background:none !important;
}

    .footer-green a:hover {
        color: rgb(70, 100, 0) !important;
    }

.block-single {
    background-image:url(../img/backgroundl.jpg);
    height:auto;
    background-size:cover;
}

#word-logo{
    width:30px;
    height:30px;
}

#download {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    margin-bottom:20px;
    display:block;
}

.table-responsive {
    background-color: rgb(255, 255, 255);
    border: solid;
    border-color: rgb(152, 192, 60);
    margin-bottom:30px;
}


.table-title {
    font-size: 24px !important;
    font-family: "Montserrat";
    color: rgb(255, 255, 255) !important;
    background-color: rgb(152, 192, 60) !important;
    font-weight: bold;
    line-height: 1.2;
    text-align: center !important;
}

td {
    border: solid;
    border-color: rgb(152, 192, 60);
    border-width: 5px;
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(70, 100, 0);
    font-weight: bold;
    text-align: left;
}

.block-single h2{
    margin-top:80px;
    margin-bottom:40px;
}

.block-about {
    background-image: url(../img/background3.png);
    height: auto;
    background-size: cover;
}

.mid-block-about ul {
    font-size: 24px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    list-style:none;
    margin-bottom:100px;
}

.mid-block-about li{
    margin-bottom:44px;
}

.mid-block-about h2{
    font-size:36px !important;
    margin: 44px 0px;
}

.block-contacts{
    background-image:url(../img/background4.png);
    height:1250px;
}

    .block-contacts h2 {
        margin-bottom: 0px;
        font-size: 36px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        padding: 14px 48px 0px 48px;
    }

    .block-contacts iframe{
        width:100%;
        height:450px;
    }

#contacts-title{
    margin-top:75px;
    margin-bottom:50px;
}

#card-middle {
    border-color: rgb(255, 255, 255) !important;
    border-width:2px;
    border-top: none;
    border-bottom:none;
    border-left:solid;
    border-right:solid;
}

.card-icon{
    height:24px;
}

.card-base{
    text-align:center;
}

    .card-base a {
        display: block;
        font-size: 18px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
        transition: 0.4s;
        margin-bottom:16px;
    }

        .card-base a:hover {
            color: rgb(152, 192, 60);
            transition:0.4s;
            text-decoration:none;
        }

    .card-base p {
        font-size: 24px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
    }

.single-phone{
    padding-bottom:23px;
}

input, textarea {
    border-width: 3px;
    border-color: rgb(179,222,79);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    padding: 3.5px 5px;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight:bold;
    color: rgb(0, 0, 0);
    text-align: left;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 200px;
}

form{
    text-align:center;
}

#name {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

#phone, #email {
    width: 50%;
    border-bottom: none;
}

#phone {
    float: left;
    border-right: none;
}

#submit {
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
    background-color: transparent;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 40px;
    margin-top:7px;
    margin-bottom:75px;
}

#mid-1 {
    height: 452px;
}

.product-img {
    width: 70%;
    margin-bottom: 20px;
}

.product-card span {
    color: rgb(152, 192, 60);
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}


.tab-active {
    color: rgb(83, 119, 0) !important;
    background-color: rgb(255, 255, 255) !important;
}

.product-block{
    margin-top:60px;
}

    .product-block button {
        background-color: transparent;
        width: 329px;
        border-top: solid 5px rgb(255, 255, 255);
        border-left: none;
        border-right: none;
        border-bottom: none;
        font-size: 24px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        padding: 20px 0px;
        transition-duration: 0.4s;
    }

        .product-block button:hover {
            background-color: rgb(179, 222, 79);
            transition-duration: 0.4s;
        }

.product-card p {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 10px;
}

.product-card h6{
    margin-bottom:15px;
}

.tab-content{
    transition-duration:0.5s;
}

.tab-content .row{
    margin-bottom:50px;
}

#mobile-menu {
    position: absolute;
    top: 20px;
    right: 90px;
    display: none;
    z-index:99;
}

    #mobile-menu a {
        font-size: xx-large;
    }

#mob-content {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 33%;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255,0.7);
    z-index: 9;
    padding-top: 72px;
    animation: animateright 0.4s
}

    #mob-content a {
        font-size: 24px;
        font-family: "Montserrat";
        color: rgb(0,0,0);
        font-weight: bold;
        margin-bottom: 12px;
        padding-left:10px;
    }

    #mob-br{
        display:none;
    }

    .mob-, .mob-2{
        display:none;
    }

#cards {
    margin-top: 140px;
}